@import './variables.less';

.message(@backgroundColor: @messageBackgroundColor, @padding: @messagePadding) {
  max-width: @messageMaxWidth;
  padding: @padding;
  background: @backgroundColor;
  border: 1px solid @borderColor;
  border-radius: 6px;
  overflow: hidden;
}
